@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
:root {
    --blue: #0188DF;
    --black: #354046;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none !important;
    outline: none !important;
    text-decoration: none !important;
    text-transform: capitalize;
    font-weight: 400;
    transition: all .2s linear;
}

*::selection {
    background: var(--black);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

section {
    overflow: hidden;
    border-radius: 2REM;
}

.heading {
    margin: 2rem;
    padding-top: 6rem;
    display: inline-block;
    font-size: 3.5rem;
    color: var(--color);
    position: relative;
    letter-spacing: .2rem;
}

.heading::before,
.heading::after {
    content: '';
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    border-top: .4rem solid var(--color);
    border-left: .4rem solid var(--color);
}

.heading::before {
    top: 5.8rem;
    left: -2rem;
}

.heading::after {
    bottom: -.5rem;
    right: -2rem;
    transform: rotate(180deg);
}

.row {
    background: #f8f9fa;
    margin-top: 20px;
}

.col {
    border: solid 1px #6c757d;
    padding: 10px;
}

.button {
    height: 3.5rem;
    width: 15rem;
    background: var(--blue);
    color: #fff;
    font-size: 1.7rem;
    text-transform: capitalize;
    border-radius: .5rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 1rem 0;
}

.button::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black);
    z-index: -1;
    transition: .2s linear;
}

.button:hover:before {
    top: 0%;
}

.button:hover {
    box-shadow: .1rem .5rem var(--blue), 0 .3rem .5rem rgba(0, 0, 0, .3);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
:root {
    --color: #6C5CE7;
}

.header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header .logo {
    font-size: 2.5rem;
    color: #fff;
}

.header .logo i {
    padding: 0 .5rem;
}

.header .navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .navbar ul li {
    margin: 0 1.5rem;
}

.header .navbar ul li a {
    font-size: 2rem;
    color: #fff;
}

.header .navbar ul li a:hover {
    color: #ccc;
}

.header .fa-bars {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    display: none;
}

.home {
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(purple, var(--color));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
}

.home .banner {
    color: #fff;
    font-size: 5rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.home .slogan {
    color: #eee;
    font-size: 2.5rem;
    font-weight: 400;
}

.home button {
    height: 4rem;
    width: 18rem;
    background: #fff;
    color: #444;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.home button:hover {
    letter-spacing: .1rem;
}

.home .wave {
    position: absolute;
    bottom: -.5rem;
    left: 0;
    height: 11rem;
    width: 100%;
    background: url(../images/wave.png);
    background-size: 100rem 11rem;
    background-repeat: repeat-x;
    animation: waves 10s linear infinite;
}

.home .wave2 {
    animation-direction: reverse;
    opacity: .2;
}

.home .wave3 {
    animation-duration: 4s;
    opacity: .5;
}

@keyframes waves {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 100rem;
    }
}

.home .fa-cog {
    position: absolute;
    font-size: 30rem;
    opacity: .15;
    color: #fff;
    animation: rotate 10s linear infinite;
}

.home .nut1 {
    top: 10%;
    left: -15rem;
}

.home .nut2 {
    bottom: 23%;
    right: -13rem;
    animation-direction: reverse;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.home .fa-cog {
    position: absolute;
    font-size: 30rem;
    opacity: .15;
    color: #fff;
    animation: rotate 10s linear infinite;
}

.home .nut1 {
    top: 10%;
    left: -15rem;
}

.home .nut2 {
    bottom: 23%;
    right: -13rem;
    animation-direction: reverse;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.heading .about {
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.about .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 4rem;
}

.about .row .content {
    text-align: left;
}

.about .row .image img {
    width: 50vw;
}

.about .row .content h3 {
    font-size: 3rem;
    color: var(--color);
}

.about .row .content p {
    font-size: 1.5rem;
    color: #333;
    padding: 1rem 0;
}

.about::before,
.about::after {
    content: '';
    position: absolute;
    z-index: -1;
    opacity: .2;
    border-radius: 50%;
}

.about::before {
    height: 50rem;
    width: 50rem;
    background: #ccc;
    bottom: -10rem;
    left: -10rem;
}

.about::after {
    height: 60rem;
    width: 60rem;
    background: var(--color);
    top: -10rem;
    right: -10rem;
}

.abouta {
    background: #eee;
}

.abouta .content .box {
    margin: 3rem 0;
}

.abouta .content .box h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.abouta .content .box h3 i {
    padding: 0 1rem;
    color: var(--blue);
}

.abouta .content .box p {
    font-size: 1.7rem;
    padding-left: 6rem;
    color: #666;
}

.internship {
    display: inline-block;
}


/* Internship section starts */

.container h2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px 15px 15px;
}


/* youtube tutorial https://www.youtube.com/watch?v=pRTHM-pVS9w */


/* responsive internship browse card */

.intern-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.intern-card .hexagon {
    position: relative;
    width: 175px;
    height: 200px;
    margin: 25px 15px 15px;
}

.intern-card .hexagon ::before {
    content: '';
    position: absolute;
    bottom: -70px;
    width: 100%;
    height: 60px;
    background: radial-gradient(rgba(0, 0, 0, 0.15), transparent, transparent);
    border-radius: 50%;
    transition: 0.5s;
}

.intern-card .hexagon:hover::before {
    opacity: 0.8;
    transform: scale(0.8);
}

.intern-card .hexagon .shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}


/* when hover the card come up */

.intern-card .hexagon:hover .shape {
    transform: translateY(-30px);
}

.intern-card .hexagon .shape img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* overlay content */

.intern-card .hexagon .shape .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
    /* linear-gradient(45deg, #03c4f4, rgb(3, 169, 244, 0.5)); */
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}


/* hover overlay */

.intern-card .hexagon:hover .shape .content {
    opacity: .5;
}


/* position button of more category */

.intern-card .more {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* youtube tutorial https://www.youtube.com/watch?v=G-H3wRS768s&list=PLSJxovi1IyDHSTa9073x-Fj5HXqs-qxpX&index=2 */


/* style button */

.intern-card .more button {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 150px;
    overflow: hidden;
    outline: none;
    border: none;
    border-radius: 50px;
    background: lightgray;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 0px 5px white, 0px 0px 0px 10px lightgray;
    transition: 0.5s cubic-bezier(.4, .47, 0, 1.93);
}


/* hover botton */

.intern-card .more button:hover {
    width: 300px;
    background: lightskyblue;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 0px 5px white, 0px 0px 0px 8px lightskyblue;
    transition: 1.5s cubic-bezier(.4, .47, 0, 1.93);
}


/* end of Internship section  */


/* . */


/* . */

.facility {
    min-height: 100vh;
}

.facility .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.facility .box-container .box {
    height: 20rem;
    width: 30rem;
    margin: .3rem;
    overflow: hidden;
}

.facility .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.facility .box-container .box:hover img {
    transform: scale(1.3);
}

.review {
    background: url(../images/review-bg.jpg), linear-gradient(var(--black), var(--black)) no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.review .heading {
    color: #fff;
}

.review .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}

.review .box-container .box {
    background: #fff;
    width: 30rem;
    margin: 5rem 1rem;
    padding: 1.5rem;
    position: relative;
}

.review .box-container .box img {
    position: absolute;
    bottom: -7.5rem;
    left: -1rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box p {
    font-size: 1.4rem;
    color: var(--black);
}

.review .box-container .box h3 {
    text-align: end;
    color: var(--blue);
}

.review .box-container .box span {
    text-align: end;
    color: var(--black);
    display: block;
    font-size: 1.5rem;
}

.review .box-container .box::before {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: .4rem;
    height: 2rem;
    width: 2rem;
    background: #fff;
    transform: rotate(45deg);
}

.counter .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.counter .box-container .box {
    margin: 2rem 5rem;
    text-align: center;
}

.counter .box-container .box i {
    color: var(--blue);
    font-size: 5rem;
}

.counter .box-container .box span {
    color: var(--black);
    font-size: 3rem;
    display: block;
    padding: 1rem 0;
}

.counter .box-container .box h3 {
    color: #666;
}

.contact {
    background: var(--black);
}

.contact .heading {
    color: rgb(99, 68, 155);
}

.contact form {
    text-align: center;
}

.contact form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
select {
    height: 4rem;
    width: 49%;
    padding: 0 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: var(--black);
}

.contact form textarea {
    height: 20rem;
    resize: none;
    padding: 1rem;
    font-size: 1.5rem;
    width: 100%;
}

.contact form input[type="submit"] {
    width: 20rem;
}

.contact form input[type="submit"]:hover {
    background: var(--black);
}

.post .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.post .box-container .box {
    width: 30rem;
    margin: 2rem 1rem;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.post .box-container .box img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.post .box-container .box .content {
    padding: 0 1.5rem;
}

.post .box-container .box .content span {
    color: #666;
    font-size: 1.5rem;
    display: block;
    padding: 1rem 0;
}

.post .box-container .box .content h3 {
    font-size: 2rem;
    color: var(--black);
}

.post .box-container .box .content:hover h3 {
    color: var(--blue);
}

.post .box-container .box .content p {
    font-size: 1.3rem;
    color: var(--black);
}

.faq {
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 0 2rem;
}

.faq .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.faq .row .image img {
    height: 70vh;
    width: 50vw;
}

.faq .row .accordion-container {
    width: 50%;
    text-align: left;
}

.faq .row .accordion-container .accordion .accordion-header {
    background-color: var(--color);
    margin: 1rem 0;
    box-shadow: .1rem .1rem .3rem rgba(0, 0, 0, .3);
    cursor: pointer;
}

.faq .row .accordion-container .accordion .accordion-header span {
    display: inline-block;
    text-align: center;
    height: 4rem;
    width: 5rem;
    line-height: 4rem;
    font-size: 2rem;
    background: #fff;
    color: #333;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.faq .row .accordion-container .accordion .accordion-header h3 {
    display: inline;
    color: #fff;
    font-weight: 400;
    padding-left: .5rem;
    font-size: 1.5rem;
}

.faq .row .accordion-container .accordion .accordion-body {
    padding: 1rem;
    color: #444;
    box-shadow: .1rem .1rem .3rem rgba(0, 0, 0, .3);
    font-size: 1.3rem;
    display: none;
}

.faq .row .accordion-container .accordion:nth-child(1) .accordion-body {
    display: block;
}


/* media queries  */

@media (max-width:768px) {
    html {
        font-size: 55%;
    }
    header .fa-bars {
        display: block;
    }
    header .nav {
        position: fixed;
        top: -100rem;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 0 100vh rgba(0, 0, 0, .3);
        border-radius: .5rem;
        border: .3rem solid var(--blue) !important;
        background: #fff;
        width: 95%;
        opacity: 0;
    }
    header .nav ul {
        width: 100%;
        flex-flow: column;
        padding: 2rem 0;
    }
    header .nav ul li {
        width: 100%;
        text-align: center;
        margin: 1rem 0;
    }
    header .nav ul li a {
        font-size: 3rem;
        display: block;
    }
    header .nav-toggle {
        top: 50%;
        opacity: 1;
    }
    .contact form .inputBox input,
    select {
        width: 100%;
    }
    .contact form input[type="submit"] {
        width: 100%;
    }
}