    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    body {
        display: block;
        justify-content: center;
        align-items: center;
    }
    /* . */
    /* . */
    /* . */
    
    .internship {
        display: inline-block;
    }
    /* Internship section starts */
    
    .container h2 {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 25px 15px 15px;
    }
    /* youtube tutorial https://www.youtube.com/watch?v=pRTHM-pVS9w */
    /* responsive internship browse card */
    
    .intern-card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .intern-card .hexagon {
        position: relative;
        width: 175px;
        height: 200px;
        margin: 25px 15px 15px;
    }
    
    .intern-card .hexagon ::before {
        content: '';
        position: absolute;
        bottom: -70px;
        width: 100%;
        height: 60px;
        background: radial-gradient(rgba(0, 0, 0, 0.15), transparent, transparent);
        border-radius: 50%;
        transition: 0.5s;
    }
    
    .intern-card .hexagon:hover::before {
        opacity: 0.8;
        transform: scale(0.8);
    }
    
    .intern-card .hexagon .shape {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000;
        clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    }
    /* when hover the card come up */
    
    .intern-card .hexagon:hover .shape {
        transform: translateY(-30px);
    }
    
    .intern-card .hexagon .shape img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* overlay content */
    
    .intern-card .hexagon .shape .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: center;
        background: linear-gradient(to right, #e0eafc, #cfdef3);
        /* linear-gradient(45deg, #03c4f4, rgb(3, 169, 244, 0.5)); */
        color: #fff;
        opacity: 0;
        transition: 0.5s;
    }
    /* hover overlay */
    
    .intern-card .hexagon:hover .shape .content {
        opacity: 1;
    }
    /* position button of more category */
    
    .intern-card .more {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* youtube tutorial https://www.youtube.com/watch?v=G-H3wRS768s&list=PLSJxovi1IyDHSTa9073x-Fj5HXqs-qxpX&index=2 */
    /* style button */
    
    .intern-card .more button {
        margin: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 150px;
        overflow: hidden;
        outline: none;
        border: none;
        border-radius: 50px;
        background: lightgray;
        font-size: 15px;
        cursor: pointer;
        box-shadow: 0px 0px 0px 5px white, 0px 0px 0px 10px lightgray;
        transition: 0.5s cubic-bezier(.4, .47, 0, 1.93);
    }
    /* hover botton */
    
    .intern-card .more button:hover {
        width: 300px;
        background: lightskyblue;
        font-size: 30px;
        cursor: pointer;
        box-shadow: 0px 0px 0px 5px white, 0px 0px 0px 8px lightskyblue;
        transition: 1.5s cubic-bezier(.4, .47, 0, 1.93);
    }
    /* end of Internship section  */
    /* . */
    /* . */
    /* . */
    /* . */
    /* Top Recruitement Agencies section starts */
    
    .agncy {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        min-height: 100%;
        padding-bottom: 5px;
    }
    
    .agncy-heading {
        witext-align: center;
        margin-bottom: 5px;
        margin-top: 10px;
        padding-top: 10px;
    }
    
    .gallery {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        transform: translateY(80px);
        padding: 0;
        height: auto;
    }
    
    .gallery-cell {
        background-color: white;
        flex: 0 1 250px;
        max-width: 100px;
        height: 100px;
        margin: 2px;
        position: relative;
        text-align: center;
        z-index: 1;
        box-shadow: 0px 0px 15px 0px rgb(0, 0, 0, 0.8);
        clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
        cursor: pointer;
    }
    
    .gallery-cell-img {
        object-position: center;
        position: absolute;
    }
    
    .gallery-cell::before,
    .gallery-cell::after,
    .gallery-cell-img {
        top: -50%;
        left: 0;
        width: 100%;
        height: 200%;
        display: block;
        clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
        z-index: -1;
    }
    
    .gallery-cell:hover {
        opacity: 1;
        transition: all 0.3s ease-in-out;
        transform: scale(1.2);
        z-index: 99;
        overflow: hidden;
    }
    
    .gallery-cell::before {
        content: '';
        position: absolute;
        opacity: 0.4;
        width: 350px;
        height: 70px;
        background: white;
        top: 50;
        left: 0;
        z-index: 1;
        transform: rotate(45deg);
        transition: transform 1.5s;
    }
    
    .gallery-cell:hover::before {
        transform: translate(-100px, 600%) rotate(45deg);
        transition: transform .5s;
    }
    /* Top Recruitement Agencies section ends */